
.navBar {
  background-image: url(/HomePage_Top.png);
  height: 0vh;
}
.navRight {
  float: right;
}

.buttonsLeft {
  margin: 10px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow:none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Metal Mania';
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width:7em;
}

.buttonsLeft:active {
    border-color: #4a4a4a;
    outline: 0;
  }

.buttonsLeft:focus {
    border-color: #485fc7;
    outline: 0;
  }

.buttonsLeft:hover {
    border-color: #b5b5b5;
  }

.buttonsLeft:focus:not(:active) {
    box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
  }



.buttonsRight {
  margin: 10px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Metal Mania';
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: 7em;
}

  .buttonsRight:active {
    border-color: #4a4a4a;
    outline: 0;
  }

  .buttonsRight:focus {
    border-color: #485fc7;
    outline: 0;
  }

  .buttonsRight:hover {
    border-color: #b5b5b5;
  }

  .buttonsRight:focus:not(:active) {
    box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
  }




#logo{
    margin:10px;
    width:40px;
    height:40px;
}

