
.container {
 /* background-color: grey;*/
  margin: 2vh;
  background-color:#FAF5EF;
  font-family: Metal Mania;
}

.characterSheet {
  gap: 20px;
  align-items: center;
  display: flex;
}

/*Section for Drop Down Menu Class */
.dropbtn {
  font-family: 'Metal Mania';
  color: #a52a2a;
  padding: 16px;
  font-size: 32px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* Change this later */
.dropdown:hover .dropbtn {background-color: #ffffff;}

/* Other Css */
.characterStats {
  /* background-color: brown;*/
  background-color: #FFD5AA;
  color:#a52a2a;
  width: 20vh;
  height: 15vh;
  margin: 10px;
  padding: 32px;
  font-family: Inter;
}

#nameTitle {
  font-size: 5vh;
  font-family: Inter;
}

.infoBox {
  /*background-color: yellow;*/
  margin: 10px 30px 20px 50px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  text-align:center;
}

#preview {
 
  width: 30vh;
  height: 35vh;
  background-color: #FFD5AA;
  margin: 5vh;
  display: flex;
  overflow: hidden;
}

#fileInput {
  width: auto;
  height: 35vh;
  background-color: red;
  opacity:0;
}

.imageBox {
}

/* Section to Style Tabs */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab, button{
  background-color: inherit;
  
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab, button:hover {
  background-color: #ddd;
}

.tab, button.active {
  background-color: #ccc;
}

