/* a box that the user can choose from a infinitely scaling grid of things related to the thing*/
/* Note to Self: Change Overflow Auto Scroll Bar design */
/* Other Other Note to Self: Maybe move Selection Screen elements to global css *ADD A SEARCH BAR* */
.selectionScreen {
  display: grid;
  grid-template-rows: auto 1fr; 
  max-height: 700px;
  width: 75%;
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: #a52a2a;
  
}
.closeMenu {
  grid-row: 1;
  
  text-align: center;
  background-color: #ff6f61;
  color: white;
  padding: 10px;
  font-weight: bold;
}
.selectionScrollable {
  justify-items: center;
  align-items: start;
  width: 100%;
  grid-row: 2;
  overflow: auto;
  padding: 10px;
  max-height: 100%;
}
#pretendSelction {
  grid-column: 1 / -1; /* ; Span the entire width of the grid */
  width: 100%; /* Take the full width of the grid column */
  height: 200px;
  background-color: rgb(212, 253, 253);
  margin: 5%; /* Add spacing around boxes */
}


.selectionScreen > div:not(.closeMenu) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive box layout */
  gap: 10px; /* Space between boxes */
}
/* ================================== */
.container {
  margin-top: 5%;
  background-color:#FAF5EF;
}

.characterSheet {
  gap: 20px;
  align-items: center;
  display: flex;
}

/* Other Css */
.characterStats {
  /* background-color: brown;*/
  background-color: #FFD5AA;
  color:#a52a2a;
  width: 20vh;
  height: 15vh;
  margin: 10px;
  padding: 32px;
  font-family: Inter;
}

.characterStats:hover{
  background-color: aqua;
}

#nameTitle {
  font-size: 5vh;
  font-family: Inter;
}

.infoBox {
  /*background-color: yellow;*/
  margin: 10px 30px 20px 50px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  text-align:center;
}

#preview {
 
  width: 30vh;
  height: 35vh;
  background-color: #FFD5AA;
  margin: 5vh;
  display: flex;
  overflow: hidden;
}

#fileInput {
  width: auto;
  height: 35vh;
  background-color: red;
  opacity:0;
}

.imageBox {
}

/* Section to Style Tabs */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab, button{
  background-color: inherit;
  
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab, button:hover {
  background-color: #ddd;
}

.tab, button.active {
  background-color: #ccc;
}

