<div class="backgroundImage">
  <p>background image up here + links</p>
</div>

<!-- Section for interactable tabs -->
<div class="tabs">
  <button (click)="OpenCharInfoTab('Race Info')">Race Info</button>
  <button (click)="OpenCharInfoTab('Stats')"> Stats</button>
  <button (click)="OpenCharInfoTab('Lore')"> Character Lore</button>
</div>
<!-- Section for tab content-->
<div id="Race Info"class="tabContent" *ngIf="activeTab == 'Race Info'">

  <!-- Character Image -->
  <div class="container">
    <p id="nameTitle">Name of your character</p>
    <div class="characterSheet">
      <div class="imageBox">
        <div id="preview">
          <input type="file" name="fileInput" id="fileInput" accept="image/*" capture="camera" (change)="onFileSelected($event)">
        </div>
      </div>
    </div>
  </div>
  
  <!-- Charater Info That Isn't Stat Related -->
  <div class="infoBox">
    <div class="info">
      
      <div class="characterStats">
        <!-- Drop Down for Classes -->
        <div class="dropdown">
          <button class="dropbtn">Classes</button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
      
      <div class="characterStats">
        <p>Background</p>
      
      </div>
      <!-- Drop Down for Races -->
      <div class="characterStats">
        <div class="dropdown">
          <button class="dropbtn">RACES</button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
      
      <div class="characterStats">
        <p>Alignment</p>
      </div>
      <div class="characterStats">
        <p>HP</p>
      </div>
      <div class="characterStats">
        <p>Armor</p>
      </div>
      <div class="characterStats">
        <p>Hit Dice</p>
      </div>
      <div class="characterStats">
        <p>Inspiration</p>
      </div>
      <div class="characterStats">
        <p>Proficiency</p>
      </div>
      <div class="characterStats">
        <p>Initiative</p>
      </div>
      <div class="characterStats">
        <p>Speed</p>
      </div>
    </div>
  </div>

</div>

<div id="Stats"class="tabContent" *ngIf="activeTab == 'Stats'">Words2</div>

<div id="Character Lore" class="tabContent" *ngIf="activeTab == 'Lore'">words3</div>


    
