.container {
 /* background-color: grey;*/
  margin: 2vh;
  background-color:#FAF5EF;
}

.characterSheet {
  gap: 20px;
  align-items: center;
  display: flex;
}

.characterStats {
  /* background-color: brown;*/
  background-color: #FFD5AA;
  color:brown;
  width: 20vh;
  height: 15vh;
  margin: 10px;
  padding: 32px;
  font-family: Inter;
}

#nameTitle {
  font-size: 5vh;
  font-family: Inter;
}

.infoBox {
  /*background-color: yellow;*/
  margin: 10px 30px 20px 50px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  text-align:center;
}

#preview {
 
  width: 30vh;
  height: 35vh;
  background-color: #FFD5AA;
  margin: 5vh;
  display: flex;
  overflow: hidden;
}

#fileInput {
  width: auto;
  height: 35vh;
  background-color: red;
  opacity:0;
}

.imageBox {
}
.Tabs{
    display:flex;
}
