<!--Have fun with this Quang :)-->
<div class="background-image">


  <div class="user-input-container-reuseable">

    <!--Container for Welcome Text-->
    <div class="welcome-container">
      <header>Welcome Back Adventurer</header>
    </div>
    <!--Username / Password and sign in Form fill in form action later -->
    <form action="login-form" method="post" (ngSubmit)="onLogin()">

      <!-- Username Input -->
      <label for="email">
        <input type="text" class="input-labels-reuseable" [(ngModel)]="clientEmail" name="clientEmail" placeholder="Email" required>
      </label>

      <!-- Password Input -->
      <label for="Password">
        <input type="password" class="input-labels-reuseable" [(ngModel)]="clientPW" name="clientPW" placeholder="Password" required>
      </label>

      <!--Forgot Password & Remeber Me Container-->
      <div class="extras-container">
        <label for="RemeberMe" class="remember-checkbox-label">
          <input type="checkbox" class="remember-checkbox-label"> Remember Me
        </label>
        <!--Change href-->
        <a href="login">Forgot Password?</a>
      </div>
      <!-- Note: impliment Submit Button -->
      <input type="submit" value="Sign in" class="input-labels-reuseable">
    </form>
    <div>
    </div>
  </div>


</div>
