
/*NOTE TO SELF: #-ID selector .-Class selector
px - abosulute value avoid as much as possible
% - based on parent element
vh/vw - viewport width and height area which website can be seen
rem - BASED ON font size set in html (16px default - don't really change)
em - font size based on font size parent element*/

/*Margin/padding Shorthand: top, right, bottom left*/

/* *{ 
border-style: solid;
border-color: brown;
border-width: 2px;
}  */

/*Impliment other screen sizes*/


/*Section for welcome text and box styling*/

.welcome-container{
    position: relative;
    margin: 15% 0 10% 0;
    text-align: center;
    color: #DBAEFF;
    font-size: 1.5em;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.226);;
}

.extras-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 5% 0 0 5%;
    padding: 4%
}

.remember-checkbox-label {
    color: #554760; 
}

/*Make the "sign-in" button look like it was pressed section and align it*/
input[type=submit] { 
   position: relative;
   left: 20%;
   margin-bottom: 10%;
   
}
input[type=submit]:hover { 
    background-color: #554760;
    color: white;
}

input[type=submit]:focus { 
    background-color: #554760;
    color: white;
    box-shadow: 0px 0px;
    box-shadow: inset 0px 0px 5px #add0ff;
}   
/* Align all the junk assoicated with forgot password hyperlink as well color it
for readability  */
a{
    text-decoration-thickness: 3px;
    color: white;
}

a:hover {
    color: rgb(218, 131, 199);
}
/* Screen compatability section */
@media screen and (min-width: 320px) and (max-width: 425px) {
    #box-login-outer{
        top: 20%;
        left: 10%;
        width: 80vw;
      }
    
  }





