<!--Have fun with this Quang :)-->
<link rel="stylesheet" href="login.component.css">

<!-- Parent Container for the Login Box -->

<div class="user-input-container-reuseable"> 
    
    <!--Container for Welcome Text-->
    <div class="welcome-container">
        <header>Welcome Back Adventuer</header>
    </div>

    <!--Username / Password and sign in Form fill in form action later -->
    <div>
        <form action="" method="post">
            
            <!-- Username Input -->
            <label for="Username">
                <input  type="text" class="input-labels-reuseable" placeholder="Username or Email" required>
            </label>
            
            <!-- Password Input -->
            <label for="Password">
                <input type="password" class="input-labels-reuseable" placeholder="Password" required>
            </label>
            
            <!--Forgot Password & Remeber Me Container-->
            <div class="extras-container">
                <label for="RemeberMe" class="remember-checkbox-label">
                    <input type="checkbox"  class="remember-checkbox-label"> Remember Me
                </label> 
                <!--Change href-->
                <a href="http://localhost:4200/login">Forgot Password?</a>
            </div>
            <!-- Note: impliment Submit Button -->
            <input type="submit" value="Sign in" class="input-labels-reuseable">
        </form>
    </div>
</div>


    




