<!-- This website collects anonymous data about how users interact with our website. This data provides us with valuable insights that help us to improve our products. Some of these analytics features are non-essential and use browser cookies.
What data we collect and information on how it is used is described in our -->
<!--Cookies popup at some point-->
<!--Use Body for background-->
<!-- Encapsulate header content inside a valid container -->

<div class="page-container-top">
  <header class="headerContent">
    <span>D&D Website</span>
  </header>
  <div class="carouselContainer">
    <c-carousel [interval]="0">
      <c-carousel-inner>
        <c-carousel-item *ngFor="let slide of slides">
          <img [src]="slide.src"
               alt="{{slide.title}}"
               class="d-block w-100"
               loading="lazy" />
        </c-carousel-item>
      </c-carousel-inner>
      <c-carousel-control [routerLink] caption="Previous" id="carouselButton" direction="prev"></c-carousel-control>
      <c-carousel-control [routerLink] caption="Next" id="carouselButton" direction="next"></c-carousel-control>
    </c-carousel>
  </div>



</div>
<div class="page-container-middle">
  <header class="headerContent">
  </header>
</div>
<div class="page-container-bottom">
  <header class="headerContent">

  </header>
</div>
